data/raw/

# Arquivos temporários R
.Rhistory
.RData
.Ruserdata
*.Rproj.user

# Sistema
.DS_Store
Thumbs.db

# Permite a pasta outputs inteira
!outputs/

# Ignora arquivos temporários
outputs/*.tmp
outputs/temp/

# Permite explicitamente os gráficos e tabelas
!outputs/graphs/
!outputs/tables/

